.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 80px; }
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
.jumbotron .btn-primary:hover {
    background: #7646c1; }
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
.navbar + .jumbotron {
    margin-top: -20px; }
.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
.jumbotron .lang-logo img {
    max-width: 100%; }

select {
    width: 100%;
    padding: 12px 0;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block; !important;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%; !important;
    padding: 12px 0; !important;
    margin: 8px 0; !important;
    display: inline-block; !important;
    border: 1px solid #ccc; !important;
    border-radius: 4px; !important;
    box-sizing: border-box; !important;
}

.well .imgSelect {
    margin: 8px;
    display: inline-block;
}

.card {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    border: 1px solid grey;
}

.imgSelect img {
    cursor: pointer;
    height: 100px;
    width: auto;
    overflow: hidden;
    margin-bottom: 5px;
}

.imgSelect i {
    color: darkred;
    cursor: pointer;
}

.imgSelected {
    border: 2px solid dodgerblue;
}


.well {
    padding: 9px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;!important
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

img.well {
    height: 200px;
    width: auto;
    overflow: hidden;
}
