<!DOCTYPE html>
<html>
<head>
    <% var title = 'Title';%>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
    <div class="card p-5">
        <h1>Add a Listing</h1>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="btn btn-primary btn-sm disabled">
                        <span>Choose file</span>
                        <input type="file" class="disabled">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate disabled" id="file-path" type="text" placeholder="Upload your file">
                        <label for="file-path" class="disabled"></label>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <form class="text-center" action="insertItem.php" id="insertItemForm" method="post" enctype="multipart/form-data">
                    <div>
                        <div class="text-left">
                            <div class="md-form">
                                <input type="text" id="name" name="name" class="form-control validate">
                                <label for="name">Name</label>
                            </div>
                            <div class="md-form">
                                <input type="number" id="cost" name="cost" class="form-control">
                                <label for="cost">Cost</label>
                            </div>
                            <div class="md-form">
                                <textarea type="text" id="desc" name="desc" class="md-textarea"></textarea>
                                <label for="desc">Description</label>
                            </div>
                            <label for="cat">Category</label>
                            <div class="container d-inline-flex">
                                <select id="cat" name="cat" class="pull-left">
                                    <% cat.forEach(function(category) { %>
                                    <%- include('../partials/selectOption.ejs', {category}) %>
                                    <% })%>
                                </select>
                            </div>
                            <button type="button" onclick="addItem('name', 'cost', 'desc', 'cat')" class="btn pink lighten-4">Save Listing</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>


</html>
