<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
    <h3>Your shipping estimate</h3>
    <p><b>Item:</b> <%= type %> <b>Weight:</b> <%= weight %> lbs</p>
    <p><b>Shipping cost:</b> $<%=cost %></p>
</div>

</body>
</html>
